// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mypage-show-map{  
    position: absolute;  
    top: 0px;  
    left: 600px;  
} 